*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  color:white;
}
html,body{
  height:100%;
  width:100%;
}
body{
  background-color: black;
}
.head{
  background-color: rgb(109, 52, 19);
  padding:5px;
  margin:5px;
}